body{
    background: #EFEFEF;
    
    margin: 0;
  }
  a{
    text-decoration: none;
  }

  *{
    margin: 0;
    padding: 0;
  }
  hr{
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
  }
  
  .clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
  
  .topNavBar .clearfix::after {
    padding: 20px 0 20px 0;
    
    top: 0;
    left: 0;
    width: 100%;
  }

  
  .topNavBar-inner{
    padding: 0 16px;
  }
  .topNavBar .logo {
    font-family: "Hiragino Kaku Gothic Std";
    font-size: 22px;
    padding-top: 1px;
  }
  .topNavBar .logo .rs{
    color: #e6686a;
    margin-right: 4px;
  }
  .topNavBar .logo .card{
    color: #9A9DA2;
  }
  
  .topNavBar nav {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .topNavBar nav a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight: bold;
  }
  .topNavBar nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .topNavBar nav ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
  }
  .topNavBar nav ul>li>a{
    border-bottom: 3px solid transparent;
  }
  .topNavBar nav ul>li>a:hover{
    border-bottom-color: #DC6465;
  }

  .banner{
    height: 515px;
    background-image: url(./img/wallhaven-656946.jpg);
    background-position:center center;
  }
  .banner .mask{
    height: 515px;
    background-color:rgba(0,0,0,0.3);
  }

  .userCard{
    /* border: 1px  solid red;  */
    max-width: 940px; 
    /* margin-top: -330px;

    margin-left: auto;
    margin-right: auto; */
    margin: -330px auto 0px;
    background-color: #FFFFFF;
  }
  .userCard .welcome{
    background: #e6686a;
    color: white;
    display: inline-block;
    padding:  4px 16.5px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
    
  }

  .userCard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4;
    top: 100;
  }

  .userCard .picture{
    float: left;
  }

  .userCard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
  }
  .userCard .text h1{
    margin-top: 18px;
  }
  .userCard .text hr{
    margin: 20px 0;
  }
  .userCard .pictureAndText{
    padding: 50px;
  }
  .userCard dl dt,
  .userCard dl dd{
    float:left;
    padding: 5px 0;
    
  }
  .userCard dl dt{
    width: 30%;
    font-weight: bold;

  }
  .userCard dl dd{
    width: 70%;
    color:#9da0a7;  
  }

  .userCard > footer.media{
    background: #e6686a;
    text-align: center;
  }
  .userCard > footer.media > a{
    /* border: 1px solid black; */
    display: inline-block;
    
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
  }
  .userCard > footer.media > a:hover{
    background: #CF5d5F;
  }
  .userCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
  }